@model IEnumerable<CompressMedia.DTOs.CommentDto>

<h2>Comments</h2>

@foreach (var comment in Model)
{
	<div>
		<p><strong>@comment.UserName</strong>: @comment.Content</p>
		<p><small>@comment.CreatedDate.ToString("g")</small></p>
		<a asp-controller="Comment" asp-action="ReplyComment" asp-route-commentId="@comment.CommentId" class="btn btn-outline-secondary">Reply</a>
	</div>
}
