@model IEnumerable<CompressMedia.DTOs.TenantDto>

@{
	ViewBag.Title = "Tenants";
	Layout = "_Layout";
}

<h2>Roles</h2>
<button type="button" class="btn btn-primary">
	<a asp-controller="Tenant" asp-action="CreateTenant" style="text-decoration: none; color: white;"> Add New Tenant</a>
</button>
<table class="table table-bordered mt-4">
	<thead>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var tenant in Model)
		{
			<tr>
				<th>@tenant.TenantName</th>
				<td>
					<a asp-controller="Container" asp-action="Index" asp-route-tenantId="@tenant.TenantId" class="btn btn-outline-info">Containers</a>
					<a asp-controller="User" asp-action="GetAllUserTenant" asp-route-tenantId="@tenant.TenantId" class="btn btn-outline-info">Users</a>
					<a asp-controller="Tenant" asp-action="DeleteTenant" asp-route-tenantId="@tenant.TenantId" class="btn btn-outline-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	setTimeout(function () {
		location.reload();
	}, 10000);
</script>