@using CompressMedia.Repositories.Interfaces
@model CompressMedia.DTOs.LoginDto

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	@inject IAuthService AuthService
	@functions {
		public bool IsUserLoggedInAsync()
		{
			return AuthService.IsUserAuthenticated();
		}
	}
	@if (IsUserLoggedInAsync())
	{
		<h1 class="display-4">Welcome to Media Compression Tool</h1>
	}
	else
	{
		<h1>Media Compression Tool</h1>
	}


	@if (Model != null && !string.IsNullOrWhiteSpace(Model.QrCode))
	{
		<h3>Scan the QR Code for Two-Factor Authentication</h3>
		<h5 style="color:red">If you have updated your account information before, please scan the new qr code</h5>
		<img src="@Url.Content(Model.QrCode)" alt="QR Code" style="width:200px;height:200px;" />


		<form asp-action="Verify" method="post">
			<input type="hidden" asp-for="Username" />
			<input type="hidden" asp-for="Password" />

			<div class="form-group">
				<label asp-for="otpCode">Enter OTP Code</label>
				<input asp-for="otpCode" class="form-control" />
				<span asp-validation-for="otpCode" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Verify</button>
		</form>
	}
</div>
