@model IEnumerable<CompressMedia.DTOs.ContainerDto>

@{
	ViewBag.Title = "Containers";
	Layout = "_Layout";
}

<h2>Medias</h2>

<button type="button" class="btn btn-primary">
	<a asp-controller="BlobContainer" asp-action="CreateContainer" style="text-decoration: none; color: white;"> Add New Container</a>
</button>

@if (Model != null && Model.Any())
{
	<table class="table table-bordered mt-4">
		<thead>
			<tr>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var container in Model)
			{
				<tr>
					<td>@container.ContainerName</td>
					<td>
						<a asp-controller="Blob" asp-action="CreateBlob" asp-route-containerId="@container.ContainerId" class="btn btn-outline-primary"> Add New Blob</a>
						<a asp-controller="Blob" asp-action="Index" asp-route-containerId="@container.ContainerId" class="btn btn-outline-secondary">Detail</a>
						<a asp-controller="BlobContainer" asp-action="DeleteContainer" asp-route-containerId="@container.ContainerId" class="btn btn-outline-danger">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>No containers available.</p>
}

<script>
	setTimeout(function () {
		location.reload();
	}, 10000);
</script>