@model IEnumerable<CompressMedia.DTOs.UserDto>

@{
	ViewBag.Title = "Get Users";
	Layout = "_Layout";
}

<h2>Get Users</h2>

<ul class="list-group">
	@foreach (var user in Model)
	{
		<li class="list-group-item">@user.Username</li>
	}
</ul>