@model CompressMedia.DTOs.MediaDto

@{
	ViewData["Title"] = "Compress Video";
}

<h2>Compress Video</h2>

@if (Model == null)
{
	<p>Model is null. Please check the data passed to this view.</p>
}
else
{
	<form asp-action="CompressVideo" asp-controller="Media" method="post" enctype="multipart/form-data">
		<input type="hidden" name="mediaId" value="@Model.MediaId" />
		<div class="form-check">
			<input asp-for="IsFps" class="form-check-input" type="checkbox" id="IsFps" checked>
			<label class="form-check-label" for="IsFps">
				Fps (Compressing only fps can reduce the quality and increase the capacity of your video)
			</label>
		</div>
		<div class="form-check">
			<input asp-for="IsResolution" class="form-check-input" type="checkbox" id="IsResolution" checked>
			<label class="form-check-label" for="IsResolution">
				Resolution
			</label>
		</div>
		<div class="form-check">
			<input asp-for="IsBitrateVideo" class="form-check-input" type="checkbox" id="IsBitrateVideo" checked>
			<label class="form-check-label" for="IsBitrateVideo">
				Bitrate Video
			</label>
		</div>
		<button class="btn btn-outline-secondary" type="submit">Compress</button>
	</form>
}
