@model IEnumerable<CompressMedia.DTOs.MediaDto>

@{
	ViewBag.Title = "Medias";
	Layout = "_Layout";
}

<h2>Medias</h2>

@* <button type="button" class="btn btn-primary"><a asp-controller="Media" asp-action="Video" class="text-white"> Add New Videos</a></button> *@

<div class="dropdown">
	<a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Add new video
	</a>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" asp-controller="Media" asp-action="UploadVideo">Upload Only</a></li>
		<li><a class="dropdown-item" asp-controller="Media" asp-action="UploadAndCompressVideo">Upload and compress</a></li>

	</ul>
</div>

<table class="table table-bordered mt-4">
	<thead>
		<tr>
			<th>Name</th>
			@* <th>Description</th> *@
			<th>Type</th>
			<th>Size</th>
			<th>Status</th>
			<th>Duration</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var media in Model)
		{
			<tr>
				<th>@media.MediaPath</th>
				@* <td>This is a video</td> *@
				<td>@media.MediaType</td>
				<td>@media.Size Mb</td>
				<td>@media.Status</td>
				<td>200</td>
				<td>
					<button type="submit" class="btn btn-outline-danger">Delete</button>
					<button type="submit" class="btn btn-outline-primary">Compress</button>
				</td>
			</tr>
		}
	</tbody>
</table>