@model CompressMedia.DTOs.BlobDto

@{
	ViewData["Title"] = "Create Blob";
}

<h2>Create Blob</h2>
<form asp-action="Download" asp-controller="Blob" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="BlobName" />
	<button type="submit" class="btn btn-primary">Download</button>
</form>

